

NET "BOT[2]" IOSTANDARD = LVCMOS25;
NET "BOT[1]" IOSTANDARD = LVCMOS25;
NET "BOT[0]" IOSTANDARD = LVCMOS25;



NET "BOT[1]" LOC = F5;
NET "BOT[0]" LOC = P3;
NET "BOT[2]" LOC = F6;


NET "LED[0]" LOC = U18;
NET "LED[1]" LOC = M14;
NET "LED[2]" LOC = P7;
NET "LED[3]" LOC = P6;
NET "LED[4]" LOC = N5;
NET "LED[5]" LOC = D4;
NET "LED[6]" LOC = P16;
NET "LED[7]" LOC = G1;
NET "SWITCH[0]" LOC = P11;
NET "SWITCH[1]" LOC = D14;
NET "SWITCH[2]" LOC = K3;
NET "SWITCH[3]" LOC = P15;
NET "SWITCH[4]" LOC = G3;
NET "SWITCH[5]" LOC = R5;
NET "SWITCH[6]" LOC = T5;
NET "SWITCH[7]" LOC = E4;


NET "BOT[2]" LOC = G12;
NET "BOT[1]" LOC = C11;
NET "BOT[0]" LOC = M4;
NET "LED[6]" LOC = P4;
NET "LED[5]" LOC = N4;
NET "LED[1]" LOC = M11;
NET "LED[0]" LOC = M5;
NET "SWITCH[7]" LOC = N3;
NET "SWITCH[6]" LOC = E2;
NET "SWITCH[5]" LOC = F3;
NET "SWITCH[3]" LOC = B4;
NET "SWITCH[1]" LOC = L3;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = B8;
